name: Update readme articles

on:
  # Schedule the workflow to run every month at midnight UTC
  schedule:
    - cron: "0 0 1 * *"
  # Allow manual triggering of the workflow
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Generate Hashnode Cards
        uses: Saul-Lara/hashnode-cards@v1
        with:
          hashnode_blog_host: ${{ vars.HASHNODE_BLOG_HOST }}
